node_modules/
.next/
out/
build/
dist/
*.log
npm-debug.log*

.env
.env.local
.env.*.local
!.env.example

.DS_Store
*.pem
.vscode/
.idea/

# archivos subidos en desarrollo local
/storage/uploads/*
!/storage/uploads/.gitkeep

next-env.d.ts
tsconfig.tsbuildinfo
